.new-recipe_form input {
  outline: none;
  border-radius: 2px; }

.new-recipe_form button {
  outline: none;
  border-radius: 2px;
  background: #333333;
  color: #fff;
  border: 1px solid #424242; }

.new-recipe_input {
  font-size: 0;
  padding: 20px; }

.new-recipe_form,
.new-recipe_preview {
  display: inline-block;
  font-size: medium;
  vertical-align: top;
  width: 50%; }
  .new-recipe_form h2,
  .new-recipe_preview h2 {
    color: #333333;
    margin-top: 10px; }

.qty-input {
  width: 80px;
  margin-right: 10px; }

.ingredient-list,
.direction-list {
  border: 1px solid #000;
  height: 250px;
  overflow-y: scroll;
  background: #fff; }

.field_recipe-image {
  width: 200px; }
  .field_recipe-image img {
    border: 1px solid #000; }

.ingredient-single .single_qty {
  width: 20%;
  text-align: center; }

.ingredient-single .single_name {
  width: 70%;
  text-align: left; }

.ingredient-single .btn-delete {
  width: 10%;
  text-align: center; }

.single-direction {
  margin-bottom: 5px; }
  .single-direction .direction-text {
    width: 90%;
    padding-left: 10px; }
  .single-direction .btn-delete {
    width: 10%;
    text-align: center; }

.preview-delete {
  margin-top: 5px;
  border-radius: 3px;
  background: #333333;
  color: #fff;
  border: 1px solid #424242;
  outline: none; }

.single-recipe {
  padding: 20px; }

.recipe-card-top {
  padding: 30px;
  border: 2px solid #000; }
  .recipe-card-top img {
    width: 50%;
    padding-left: 20px; }
  .recipe-card-top .single-recipe_ingredients {
    width: 50%;
    padding-left: 70px; }

.ingredient-list-quantity {
  width: 40%; }

.ingredient-list-name {
  width: 50%; }

.recipe-card-bottom {
  margin-top: 20px;
  border: 2px solid #000; }
  .recipe-card-bottom li {
    margin-top: 10px; }

.single-recipe_directions input {
  margin-right: 20px; }

.single-recipe_directions .direction-text {
  color: #000; }

.single-recipe_direction {
  color: #000; }

.complete {
  text-decoration: line-through;
  color: #E62117;
  list-style: none; }

.signupTab-component {
  border-radius: 10px;
  margin-top: 100px; }

.signup, .login {
  margin: 0 auto;
  background: #FAEDDC;
  opacity: 0.92; }

.signup {
  height: 400px;
  width: 420px; }

.login {
  width: 420px;
  height: 400px; }

.background {
  position: absolute; }

.yellow {
  background-color: #333333;
  color: #fff; }

.tabs {
  width: 420px;
  margin: 0 auto;
  height: 100px;
  background: #FAEDDC;
  opacity: 0.90; }

.tabs p {
  width: 49.95%;
  float: left;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  height: 75%;
  margin: 0; }

.tabs p:hover {
  background: #333333;
  color: #fff;
  cursor: pointer; }

.form-control {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 5%; }

.btn {
  width: 100px;
  margin-left: 40%; }

.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 80px; }
  .navbar img {
    padding: 0;
    width: 120px;
    display: inline-block; }

.nav-button {
  background: #fff;
  padding: 15px;
  color: #2C8343;
  border: 1px solid #2C8343;
  width: 100px; }

.nav-button:hover {
  cursor: pointer; }

.filter-recipe {
  margin: 20px 0; }

.single-thumbnail:hover {
  cursor: pointer; }

.thumbnail {
  background: #333333; }

.thumbnail img {
  width: 100%; }

.cookbook_details {
  width: 98%;
  margin: 0 auto;
  padding: 1px;
  padding-top: 2px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background: rgba(51, 51, 51, 0.9);
  transform: translateY(-73px); }
  .cookbook_details h3 {
    margin: 0;
    font-size: 20px; }
  .cookbook_details p {
    font-size: 12px; }

.all-recipes {
  padding-left: 50px; }

.recipe-search {
  text-align: center;
  margin-bottom: 15px; }
  .recipe-search .search_input {
    position: relative;
    outline: none;
    width: 300px;
    border: none;
    background: #fff;
    border-radius: 5px;
    padding-left: 5px; }
  .recipe-search .btn-search {
    outline: none;
    border: none;
    font-size: 14px;
    background: #fff;
    position: absolute;
    width: 20px;
    height: 24px;
    padding: none;
    transform: translateX(-27px); }

* {
  box-sizing: border-box; }

body {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://images.unsplash.com/31/RpgvvtYAQeqAIs1knERU_vegetables.jpg");
  background-size: cover;
  font-family: 'Noto Sans', sans-serif; }

img {
  width: 100%;
  display: block; }

h2 {
  font-size: 24px;
  color: white; }

.u_column-container {
  font-size: 0; }

.u_column {
  display: inline-block;
  font-size: medium;
  vertical-align: top; }

.page-content {
  width: 80%;
  padding-left: 25px; }

.account-button {
  font-size: medium;
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 3px;
  opacity: 0.92;
  text-align: right;
  background: #FDFCEF;
  width: 90px; }

.account-button:hover {
  cursor: pointer; }

.btn-filter {
  width: 20%;
  outline: none; }

.col-sm-6:nth-child(2n+1) {
  clear: left; }

.btn-normal {
  background: #fff;
  color: #333333; }

.btn-selected {
  background: #333333;
  color: #fff; }

/*# sourceMappingURL=styles.css.map*/