.new-recipe_form input {
  outline: none; }

.new-recipe_form button {
  outline: none;
  border-radius: 2px; }

.new-recipe_form input {
  border-radius: 2px; }

.new-recipe_input {
  font-size: 0;
  padding: 20px; }

.new-recipe_form,
.new-recipe_preview {
  display: inline-block;
  font-size: medium;
  vertical-align: top;
  width: 50%; }
  .new-recipe_form h2,
  .new-recipe_preview h2 {
    margin-top: 10px; }

.qty-input {
  width: 80px;
  margin-right: 10px; }

.ingredient-list,
.direction-list {
  border: 1px solid #000;
  height: 250px;
  overflow-y: scroll; }

.field_recipe-image {
  width: 200px; }

.ingredient-single .single_qty {
  width: 20%;
  text-align: center; }

.ingredient-single .single_name {
  width: 70%;
  text-align: left; }

.ingredient-single .btn-delete {
  width: 10%;
  text-align: center; }

.single-direction .direction-text {
  width: 90%;
  padding-left: 10px; }

.single-direction .btn-delete {
  width: 10%;
  text-align: center; }

.single-recipe {
  padding: 20px; }

.recipe-card-top {
  padding: 30px;
  border: 2px solid #000; }
  .recipe-card-top img {
    width: 50%;
    padding-left: 20px; }
  .recipe-card-top .single-recipe_ingredients {
    width: 50%;
    padding-left: 70px; }

.ingredient-list-quantity {
  width: 40%; }

.ingredient-list-name {
  width: 50%; }

.recipe-card-bottom {
  margin-top: 20px;
  border: 2px solid #000; }
  .recipe-card-bottom li {
    margin-top: 10px; }

.single-recipe_directions input {
  margin-right: 20px; }

.single-recipe_directions .direction-text {
  color: #000; }

.single-recipe_direction {
  color: #000; }

.complete {
  text-decoration: line-through;
  color: #E62117;
  list-style: none; }

.signup, .login {
  width: 100%;
  background: #2c3e50; }

.signup {
  height: 400px; }

.login {
  height: 400px; }

.yellow {
  background-color: gold; }

.tabs {
  height: 100px;
  background: #2c3e50; }

.tabs p {
  width: 49.95%;
  float: left;
  color: white;
  text-align: center;
  padding-top: 25px;
  height: 75%;
  margin: 0; }

.tabs p:hover {
  background: #f1c40f;
  color: #2c3e50;
  cursor: pointer; }

.form-control {
  width: 250px;
  margin-left: 125px;
  margin-bottom: 5%; }

.btn {
  width: 100px;
  margin-left: 40%; }

.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 80px; }
  .navbar img {
    padding: 0;
    width: 120px;
    display: inline-block; }

.nav-button {
  background: #fff;
  padding: 15px;
  color: #2C8343;
  border: 1px solid #2C8343;
  width: 100px; }

.nav-button:hover {
  cursor: pointer; }

.cookbook_details {
  text-align: center; }

.filter-recipe {
  margin: 20px 0; }

.single-thumbnail:hover {
  cursor: pointer; }

.recipe-search {
  text-align: center;
  margin-bottom: 15px; }
  .recipe-search .search_input {
    position: relative;
    outline: none;
    width: 300px;
    border: none;
    background: #fff;
    border-radius: 5px;
    padding-left: 5px; }
  .recipe-search .btn-search {
    outline: none;
    border: none;
    font-size: 14px;
    background: #fff;
    position: absolute;
    width: 20px;
    height: 24px;
    padding: none;
    transform: translateX(-27px); }

* {
  box-sizing: border-box; }

img {
  width: 100%;
  display: block; }

h2 {
  font-size: 24px; }

.u_column-container {
  font-size: 0; }

.u_column {
  display: inline-block;
  font-size: medium;
  vertical-align: top; }

.page-content {
  width: 80%;
  padding-left: 25px;
  background: #E7E7E7; }

.account-button {
  font-size: medium;
  vertical-align: top;
  text-align: right; }

.btn-filter {
  width: 20%;
  outline: none; }

.col-sm-6:nth-child(2n+1) {
  clear: left; }

.btn-normal {
  background: #2D6470;
  color: #fff; }

.btn-selected {
  background: #2C8343;
  color: #fff; }

/*# sourceMappingURL=styles.css.map*/