@import 'new-recipe';
@import 'single-recipe';
@import 'register';
@import 'navbar';
@import 'cookbook-home';


* {
	box-sizing: border-box;
}


img {
	width: 100%;
	display: block;
}

h2 {
	font-size: 24px;
}

.u_column-container {
  font-size: 0;
}

.u_column {
  display: inline-block;
  font-size: medium;
  vertical-align: top;
}

.page-content {
	width: 80%;
	padding-left: 25px;
}

.account-button {
	font-size: medium;
	vertical-align: top;
	text-align: right;
}

.btn-filter {
	width: 20%;
}

.col-sm-6:nth-child(2n+1){
    clear: left;
}
