* {
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

h1 {
	color: #D91E18;
	font-size: 13vw;
	text-align: center;
	font-family: 'Helvetica';
}

p {
	text-align: center;
	color: #aaa;
}