// .navbar {
//   position: relative;
//   top: 0;
//   left: 0;
//   width: 80px;
//   & img {
//     padding: 0;
//     width: 120px;
//     display: inline-block;
//   }
// }

.navbar {
  width: 15%;
  & img {
    width: 100px;
  }
}

.nav-buttons {
  margin-top: 30px;
}

//thank you Clay Larson from http://codepen.io/cjl750/pen/mOROYd?editors=1010 ///

#sidebar a {
  display: block;
  width: 150px;
  padding: 10px 5px 0;
  text-decoration: none;
}

.tab.inner {
  position: relative;
  border: 1px solid #333;
  border-radius: 3px;
}

.tab.inner img {
  margin: 0;
  padding-left: 8px;
  width: 28px;
  opacity: 1;
  transition: visibility, opacity 0.5;
}
.tab.inner span {
  text-align: center;
  position: relative;
  min-width: 28px;
  left: 22px;
  top: 7px;
  font-size: 10px;
}
.tab.inner {
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  background-color:  #fff;
  width: 55px;
  transition: width 0.5s, background-color 1s linear;
  overflow: hidden;
  color: #333;
  text-shadow: none;
}
.tab.inner:hover {
  width: 170px;
  color: 308145;
  cursor: pointer;
}
.js-show {
  visibility: visible !important;
  opacity: 1 !important;
}
.js-hide {
  visibility: hidden !important;
  opacity: 0 !important;
}
