
.navbar {
  width: 15%;
  & img {
    width: 200px;
  }
}

.nav-buttons {
  margin-top: 30px;
}

#sidebar a{
  display: block;
  padding: 10px 0px;
  text-decoration: none;
}

.tab.inner span {
  text-align: center;
}

.tab.inner {
  padding: 10px;
  width: 200px;
  height: 50px;
  transition: all 0.4s, linear;
  color: #333;
  text-shadow: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translateX(-180px);
}

.tab.inner:hover {
  cursor: pointer;
  text-align: center;
  transform: translateX(0px);

}

.tab.inner:hover span{
  font-size: 18px;
  // transform:translateY(10px);
}

.COOKBOOK {
  border-left: 25px solid #ffd071
}

.COOKBOOK{
  background: #ffd071
}

.NEWRECIPE{
  border-left: 25px solid #f0776c;
}

.NEWRECIPE{
  background: #f0776c;
}

.BOOKMARKS{
  border-left: 25px solid #1abc9c;
}

.BOOKMARKS{
  background: #1abc9c;
}
