
.navbar {
  width: 15%;
  & img {
    width: 200px;
  }
}

.nav-buttons {
  margin-top: 30px;
}

//thank you Clay Larson from http://codepen.io/cjl750/pen/mOROYd?editors=1010 ///

#sidebar a{
  display: block;
  padding: 10px 0px;
  text-decoration: none;
}

.tab.inner span {
  text-align: center;
  font-size: 0px;
}

.tab.inner {
  // display: flex;
  // background-color:  #fff;
  width: 15px;
  height: 50px;
  transition: width 0.3s, background-color .3s linear;
  // overflow: hidden;
  color: #333;
  text-shadow: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tab.inner:first-child{
  border-left: 15px solid #ffd071;
}
.tab.inner:nth-child(2n){
  border-left: 15px solid black;
}

.tab.inner:hover {
  width: 200px;
  cursor: pointer;
  background-color: #ffd071;
  text-align: center;
}

.tab.inner:hover span{
  font-size: 20px;
}
