body {
  background: linear-gradient(rgba(255,255,255, 0.3), rgba(255,255,255, 0.3)), url('https://static.pexels.com/photos/349609/pexels-photo-349609.jpeg');
}
.new-recipe_form {
  & input {
    outline: none;
    border-radius: 2px;
    color: #333;
  }
  & button {
    outline: none;
    border-radius: 2px;
    background: #333333;
    color: #fff;
    border: 1px solid #424242;
  }
}

.category-option {
  background: #424242;
  color: #fff;
}
.new-recipe_input {
  font-size: 0;
  padding: 20px;
}

.new-recipe_form {
  margin-top: 20px;
}

.new-recipe_form,
.new-recipe_preview {
  color: #333;
  text-shadow: none;
  display: inline-block;
  font-size: medium;
  vertical-align: top;
  width: 50%;
  & h2 {
    margin-top: 10px;
  }
}

.qty-input {
  width: 80px;
  margin-right: 10px;
}

.ingredient-list,
.direction-list {
  border: 1px solid #000;
  height: 250px;
  overflow-y: scroll;
  background: #fff;
}

.field_recipe-image {
  width: 200px;
  & img {
    border: 1px solid #000;
  }
}

.ingredient-single {
  & .single_qty {
    width: 20%;
    text-align: center;
  }
  & .single_name {
    width: 70%;
    text-align: left
  }
  & .btn-delete {
    width: 10%;
    text-align: center;
  }
}

.single-direction {
  margin-bottom: 5px;
  & .direction-text {
    width: 90%;
    padding-left: 10px;
  }
  & .btn-delete {
    width: 10%;
    text-align: center;
  }
}

.preview-delete {
  margin-top: 5px;
  border-radius: 3px;
  background: #333333;
  color: #fff;
  border: 1px solid #424242;
  outline: none;
}
