
.signupTab-component {
  position: relative;
  margin-top: 120px;
  margin-right: 100px;
}
.welcomeInfo{
  color: black;
  width: 300px;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 36px;
  position: absolute;
  margin-left: 150px;
  transform:translateY(150px);
  z-index: 1;
  text-shadow: none;
  text-align: center;
}

.signupTab-component img{
  position: absolute;
  width: 800px;
  height: 550px;
  margin-left: 10%;
}

.signup, .login{
  margin: 0 500px;
  width: 380px;
}

.tabs{
  width: 300px;
  height: 50px;
  margin-left: 530px;
  transform:translateY(-36.5px);
  opacity: .92;
}

#loginButton{
  background: #ffd071;
  width: 130px;
  margin-left: 35px;
}

#signupButton{
  width: 130px;
  background: #f0776c;
}

.tabs p{
  float: left;
  color: #fff;
  text-align:center;
  padding-top: 4%;
  height: 50px;
}

.tabs p:hover{
  padding-top: 1%;
  font-size: 24px;
  color: #fff;
  cursor:pointer;
}


.form-control{
  position: relative;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 5%;
  transform:translateY(150px)
}

.btn {
  background-color: #FFF;
  color: #000024;
  position: relative;
  width: 100px;
  margin-left: 150px;
  transform:translateY(190px)
}
